.vscode/**
.vscode-test/**
src/**
media/**.ts
media/icon-marketplace.svg
test/**
node_modules/**
.gitignore
esbuild.js
tsconfig.json
tsconfig.test.json
.eslintrc.json
**/*.map
**/*.ts
**/*.vsix
!dist/**
