.vscode/**
.vscode-test/**
src/**
media/**
test/**
node_modules/**
.gitignore
.eslintrc.cjs
esbuild.js
tsconfig.json
vitest.config.ts
**/*.ts
**/*.map
coverage/**
doc/**
**/tsconfig.json
**/.eslintrc.cjs
!dist/**
!media/icon.svg
dist/**/*.map
